$primary-dark-cyanDark: hsl(185, 75%, 39%);
$primary-very-dark-desaturated-blue: hsl(229, 23%, 23%);
$primary-dark-grayish-blue: hsl(227, 10%, 46%);
$neutral-dark-gray: hsl(0, 0%, 59%);
$font-size-name_stats: 1.125rem;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-family:'Kumbh Sans', sans-serif; 
$desktop: 90rem;